/* ПАЛИТРА */
:root
{
    --BAG: #4c4a48;
    --TXT: #F8E6C8;
    --COL: #9DCFB6;
    --dark_Grey: #2D2D2D;
    --light_Grey: #343434;
}

/* ИМПОРТ ШРИФТА */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* ПОДКЛЮЧЕНИЕ GOOGLE ICONS */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
/* СТИЛИЗАЦИЯ GOOGLE ICONS */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*:after,
*:before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    //border: 1px solid purple;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
button {
    /* ОБНУЛЕНИЕ СТАНДАРТНЫХ СТИЛЕЙ */
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

a
{
    text-decoration: none;
}

/* Универсальное решение, которое убирает подсветку во всех браузерах и не только на input, но и на других элементах, в том числе select, button, a: */
:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0;/* УДАЛЕНИЕ ТЕНИ ДЛЯ ЭТИХ ПСЕВДОКЛАССОВ */
}

/* ТЕЛО ПРОЕКТА */
/*
body
{
    background-color: #343434;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%
}
*/

/* НАВИГАТОР */
/*
header
{
    
    height: 100%;
    width: 110px;
    border-right: 2px solid var(--TXT);
    
}

header .slot, .logo
{
    display: block;
    margin: 10px;
    //border-right: 3px solid var(--TXT);
}

header .logo
{margin}

header .slot div
{
    color: var(--TXT);
    text-align: center;
}

ion-icon
{
    color: var(--TXT);
    font-size: 80px;
}
*/

/*
        .grid
        {
            display: grid;

            grid-template-rows: ;
            width: 100%;
            background: var(--dark_Grey);
            grid-template-columns: 1fr 3fr;
            grid-template-areas: "name name"
                                 "image info"
                                 "image tags"
                                 "logs logs"
                                 "scr scr"
                                 "opening opening";
        }*/
ion-icon
{
    z-index: 6;
}

/* #2 */
.header2 {top: 65px}
.header2 span
{
    font-size: 48px;
    margin: auto
}